<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MONGO" connectionString="mongodb://appharbor:MhHcaCL0lxhZMr86@ds059898.mongolab.com:59898/appharbor_cbb93295-51a3-4a49-baac-0054848092ea" />
    <add name="REDIS" connectionString="localhost:6379" />
  </connectionStrings>
  <appSettings>
    <!-- AmazonS3StorageRepository -->
    <add key="CloudFrontDistributionUrl" value="d107oye3n9eb07.cloudfront.net" />
    <add key="S3BucketName" value="classy-myhome" />
    <add key="AWSAccessKey" value="AKIAID4JHLRD7B4HZVSQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="oauth.GoogleOAuth.ConsumerKey" value="178124155711-2sad5cqdcbtp7bi74modj49e89474qc7.apps.googleusercontent.com" />
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="WosdjWBMm_q5MfIyau3VE6tK" />
    <add key="oauth.GoogleOAuth.Scopes" value="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/contacts.readonly" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>