<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- AmazonS3StorageRepository -->
    <add key="CloudFrontDistributionUrl" value="d107oye3n9eb07.cloudfront.net" />
    <add key="S3BucketName" value="classy-myhome" />
    <add key="AWSAccessKey" value="AKIAID4JHLRD7B4HZVSQ" />
    <add key="AWSSecretKey" value="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" />

    <!-- TEST -->
    <add key="SEARCHBOX_URL" value="http://localhost:9200"/>
  </appSettings>
  <connectionStrings>
    <!-- TEST -->
    <add name="MONGO" connectionString="mongodb://localhost:27017/api-prod" />
    <add name="REDIS" connectionString="localhost:6379" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>