<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- AmazonS3StorageRepository -->
    <add key="CloudFrontDistributionUrl" value="d107oye3n9eb07.cloudfront.net" />
    <add key="S3BucketName" value="classy-myhome" />
    <add key="AWSAccessKey" value="AKIAID4JHLRD7B4HZVSQ" />
    <add key="AWSSecretKey" value="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" />

    <add key="SEARCHBOX_URL" value="http://paas:b9f50110659d1c7894596cbd4815ac1f@dwalin-us-east-1.searchly.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MONGO" connectionString="mongodb://appharbor_cbb93295-51a3-4a49-baac-0054848092ea:macr2h4v9fba8r01p9cuptisb7@ds059898.mongolab.com:59898/appharbor_cbb93295-51a3-4a49-baac-0054848092ea" />-->
    <add name="MONGO" connectionString="mongodb://appharbor_4f07c639-7974-4dc6-8b0e-663d16f37afb:ia0v796pm1d51920at3e2g6mso@ds037549-a0.mongolab.com:37549,ds037549-a1.mongolab.com:37549/api-prod" />
    <add name="REDIS" connectionString="localhost:6379" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>