<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MongoDB"
         connectionString="mongodb://appharbor_4f07c639-7974-4dc6-8b0e-663d16f37afb:ia0v796pm1d51920at3e2g6mso@ds037549-a0.mongolab.com:37549,ds037549-a1.mongolab.com:37549/api-prod"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="RedisPubSub" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="redis://rediscloud:ozHlOUshNevAK0x3@pub-redis-19518.eu-west-1-1.2.ec2.garantiadata.com:19518"/>
  </connectionStrings>
  <system.web>
    <customErrors xdt:Transform="Replace" mode="RemoteOnly">
    </customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>